@{
    Layout = "~/Views/UserLayout/UserLayout.cshtml";
    ViewBag.Title = "Contact";
}

@section banner {
    <style>
        .main-content {
            float: left;
            width: 70%;
            display: inline-block;
            margin-left: 75px;
        }

        .ad-banner {
            float: right;
            width: 25%;
            display: inline-block;
        }
    </style>
    <div class="main-content">
        <style>
            .list-member {
                text-align: center;
                font-size: 30px;
            }

                .list-member li {
                    list-style-type: none;
                }
        </style>
        <h2 style="font-size:40px">Ambition Group</h2>
        <div class="list-member">
            <ul>
                <li>
                    Nguyễn Xuân Thanh - 1211060293
                </li>
                <li>
                    Nguyễn Trung Hiếu - 1211060384
                </li>                
                <li>
                    Nguyễn Trần Khánh - 1211060178
                </li>
                <li>
                    Nguyễn Hữu Luận - 1211060201
                </li>
            </ul>
        </div>
    </div>
    <div class="ad-banner">
        <a href="#" target="_blank" rel="nofollow">
            <img src="~/Content/Image/ChevroletGiaiPhong_SlideLeftDown_isHome_100x300_DungNT5.gif" />
        </a>
        <a href="#" target="_blank" rel="nofollow">
            <img src="~/Content/Image/A1_ChevroletHaNoi_isHome_100x300_DungNt5.gif" />
        </a>
        <a href="#" target="_blank" rel="nofollow">
            <img src="~/Content/Image/ToyotaCauDien_SlideRightUp_Home_100x300.gif" />
        </a>
        <br />
        <a href="#" target="_blank" rel="nofollow">
            <img src="~/Content/Image/E2_KiaBienHoa_isHome_300x250_QuynhDTT.gif" />
        </a>
    </div>
}

