.full-page {
    font-family: 'Segoe UI';
    font-weight: bolder;
}

#menu-bar {
    margin-top: -1.3%;
}

#menu-bar a {
      color: #04470c;
}

#menu-bar a:hover {
    color: #1a621a;
}

#header-bar {
    background-color: #04470c;
}

#search-icon {
    background-color: #04470c;
    border-color: #04470c;
    margin-left: -2px;
}

    #search-icon img {
        width: 35px;
        height: 35px;
    }
    #search-icon img:hover {
        background-color: rgba(0,0,0,.1);
    }
#header-item-bar a {
    color: white;
    margin-top: 1%;
    margin-left: 50px;
}

#header-item-bar a:hover {
    color: whitesmoke;
}
#searchTxt {
    width:500px;
}
#sign {
    margin-right: 65px;
    margin-top: 0.5%;
}

    #sign a {
        color: black;
    }

        #sign a:hover {
            color: black;
        }

#item-menu {
    font-size: 30px;
    margin-left: -172px;
}

    #item-menu li {
        display: inline;
        padding: 20px;
    }

    #item-menu a:hover {
        text-decoration: none;
        padding-top: 3px;
        padding-bottom: 14px;
    }

#post-deal {
    float: right;
    font-size: 30px;
    margin-top: -53px;
    margin-right: -85px;
    text-decoration: none;
}

#footer-bar {
    background-color: #04470c;
}

.footer {
    text-align: center;
    color: white;
}

#auto-tab {
    border-color: whitesmoke;
    float: left;
    width: 665px;
    padding-left: 15px;
    padding-bottom: 8px;
}

.nav-tabs {
    margin-bottom: 0;
}

#slider {
    width: 960px;
    height: 527px;
    margin-left: 18%;
}